<h1><p >Detail post: {{id}}  </p>
    <p>{{receivedDate}}</p>
<p >Heading  </p></h1>
<p>{{result.body}}</p>

<app-comentarios (buttonClicked)="receiveEvent($event)" idpost ={{id}}></app-comentarios>

