<div style="border:  1px solid black;"><h1><p>Comentarios</p></h1>
    <tr *ngFor="let fila of comentarios;let i = index"> Nombre:{{fila.nombre}} <br> Comentario:{{fila.descripcion}} 
        <button (click)="deleteComentario(i)">Delete</button>
    </tr>
    
</div>

<button (click)= "sendEvent()">
    Emitir
</button>


<div style="border:  1px solid black;"><h1><p>Agregar comentario</p></h1>
    <p>Nombre</p> <input type="string" [(ngModel)]="nombre"> 
    <p>Mail</p> <input type="string" [(ngModel)]="mail">
    <p>Descripcion</p> <input type="string" [(ngModel)]="descripcion"> 
    <button (click)="newComentario()" >Guardar</button>
</div>