<table>
    <tbody>
        <tr>
            <th>ID</th>
            <th>Post</th>
            <th>Action</th>
          </tr>
        <tr *ngFor="let fila of result" class="border_bottom">
            <td>{{fila.id}}</td>
            <td>{{fila.title}}</td>
            <td><button routerLink="/posts/{{fila.id}}">Ver</button></td>
        </tr>
    </tbody>
</table>
